.header{
  display: flex;
  min-height: 70px;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  border: 2px solid #ba2ecc;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  
}

.logo{

  display: flex;
  align-items: center;

}

img{ 
  max-width: 500px;
  max-height: 300px;
  min-width: 500px;
  min-height: 300px;
}
.logo img{

  max-width: 50px;
  max-height: 50px;
  min-width: 50px;
  min-height: 50px;
  margin-left: 20px;
  margin-right: 50px;

}

nav a{
  font-weight: 600;
  padding-right: 10px;
  color:white

}

a:hover{
  color:gray;

}

a{
  text-decoration: none;
  color: black;
  font-weight: 600;

}

.div1{
  text-align: center;
}

body{

  font-family: sans-serif;
  margin: 0;
}
.bandName{
  color: white;
}
button {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #ba2ecc;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

button:hover {
  background: #ba2ecc;
}

h1, h2{
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

