header{
    border-bottom: 2px black solid;
}

h2{
    color: 	#83072D;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 2px solid black;
}

.dropdown-item:active {
    background-color: 	#83072D !important; /* Cambiar el color del fondo al mantener pulsado o al pasar el ratón */
    color: black !important; /* Cambiar el color del texto */
}

