

.icon {
  width: 24px;
  height: 24px;
}

body {
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ajusta la altura al tamaño de la pantalla */


}

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Centra el contenido verticalmente */
    margin-top: -10vh; /* Ajusta el margen superior para los inputs y el botón */
    text-align: center; /* Centra horizontalmente los elementos */
}

.searchForm {

    padding: 20px;
    border-radius: 10px;
    max-width: 600px; /* Ancho máximo del formulario */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-control {
    font-size: 20px; /* Tamaño de fuente grande */
    margin-bottom: 15px;
}

.searchCars {
    font-size: 20px; /* Tamaño de fuente grande */
    margin-left: 20px;
    max-height: 50px; /* Igualar altura al de los inputs */
}


.custom-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

}



body{background:#eee}.ratings i{font-size: 16px;color: red}.strike-text{color: red;text-decoration: line-through}.product-image{width: 100%}.dot{height: 7px;width: 7px;margin-left: 6px;margin-right: 6px;margin-top: 3px;background-color: blue;border-radius: 50%;display: inline-block}.spec-1{color: #938787;font-size: 15px}h5{font-weight: 400}.para{font-size: 16px}
