  
  .contenido{
    margin-top: 85px;
    display: flex;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 250px;
    
  }
  
  .card {
    text-align:center;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    background: #191919;
    color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    width: 33%;
    min-width: 290px;
    max-width: 290px;
    max-height: 500px;
    box-sizing: border-box;
    
  }
  
  .card p {
    margin: 10px 0;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
  }

img{ 
    max-width: 200px;
    max-height: 150px;
    min-width: 200px;
    min-height: 150px;
}

.header{
  display: flex;
  min-height: 70px;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  border: 2px solid #ba2ecc;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  
}

.logo{

  display: flex;
  align-items: center;

}

.logo img{

  max-width: 50px;
  max-height: 50px;
  min-width: 50px;
  min-height: 50px;
  margin-left: 20px;
  margin-right: 50px;

}

nav a{
  font-weight: 600;
  padding-right: 10px;
  color:white

}

nav a:hover{
  color:gray;

}

a{
  text-decoration: none;
  color: black;

}

body{

  font-family: sans-serif;
  margin: 0;
}
h2{
  color: white;
}
button {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #ba2ecc;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

button:hover {
  background: #ba2ecc;
}
